doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title=title
    link(rel="stylesheet" href="/src/styles/main.css")
body
    h1=title
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus reiciendis tempore culpa placeat mollitia error dolorem? Iure tenetur blanditiis exercitationem!
    include ../Components/Nav.pug
    img(src="/assets/logo.svg" style="max-width: 400px")
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque dicta porro facilis et quos. Cum.
    .prueba
        a.link(href="#") soy un link demostrativo de CSS Nesting!!